* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $global-font;
}

body {
    font-family: $global-font;
    line-height: $global-line-height;
    font-weight: $global-font-weight;
    font-size: $global-font-size;
    background-color: $white-primary;
    color: $text-dark-primary;
}


p,
li {
    margin-top: 1em;
    margin-bottom: 1em;
}

ol {
    li>ol {
        list-style: decimal-leading-zero;

    }
}

ul {
    list-style: none;

    li {
        &:before {
            content: "- ";
        }
    }
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: $accent-brand;
    }
}

img {
    height: auto;
    max-width: 100%;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    // margin-top: 0.83em;
    // margin-bottom: 0.83em;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;

    span {
        color: $accent-brand;
    }
}

h1,
.h1 {
    font-size: 128px;
}

h2,
.h2 {
    font-size: 96px;
}

h3,
.h3 {
    font-size: 48px;
}

h4,
.h4 {
    font-size: 32px;
}

h5,
.h5 {
    font-size: 20px;
}

h6,
.h6 {
    font-size: 16px;
}

.container {
    width: 100%;
    max-width: 1820px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.markap-grid-3 {
    display: grid;
    padding-top: 60px;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    @extend .container;
}

.markap-grid-2 {
    @extend .markap-grid-3;
    grid-template-columns: .7fr 1fr;
}

.grid-item {
    .icon-svg {
        width: 42px;
        height: 42px;
    }
}

.link-markap {
    position: fixed;
    bottom: 18px;
    left: 12px;
    background-color: $accent-brand;
    color: $white;
    text-decoration: none;
    border-radius: 50%;
    padding: 8px 13px;
}

.colors-box {
    @extend .container;
    width: 100%;

    ol {
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    li {
        color: $white-primary;
        font-size: 16px;
        padding: 20px 20px 40px;
        text-align: center;
        border: 1px solid $text-dark-primary;
        border-radius: 36px;
        background-color: $text-dark-primary;

        &:before {
            display: none;
        }

        >div {
            border-radius: 20px;
            height: 180px;
            border: 1px solid $text-dark-primary;
            ;
            margin-bottom: 40px;
        }
    }
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}


.btn {
    display: inline-block;
    font-size: 20px;
    border: 1px solid rgb(255 255 255 / 37%);
    border-radius: 44px;
    padding: 31.5px 53px;
    transition: all .3s;

    &:hover {
        cursor: pointer;
        text-decoration: none;
    }

    &.btn-primary {
        color: $white;
        background-color: $accent-brand;

        &:hover {
            color: $text-dark-primary;
            background-color: $white-primary;
            border: 1px solid rgb(000 000 000 / 14%);
        }
    }

    &.btn-secondary {
        color: $text-dark-primary;
        background-color: $white-primary;
        border: 1px solid rgb(000 000 000 / 14%);

        &:hover {
            color: $white;
            background-color: $accent-brand;
            border: 1px solid rgb(255 255 255 / 37%);
        }
    }

    &.btn-double {
        border: none;
        padding: 0;
        display: flex;
        align-items: center;

        span {
            border-radius: 44px;
            padding: 31px 53px;
            color: $white;
            background-color: $accent-brand;
            display: inline-block;
            border: 1px solid rgb(255 255 255 / 37%);
            transition: all .3s;

            +span {
                padding: 31px 36.5px;
            }
        }

        &:hover {
            span {
                color: $text-dark-primary;
                background-color: $white-primary;
                border: 1px solid rgb(000 000 000 / 14%);
            }
        }
    }

    .icon-svg {
        width: 13px;
        height: 13px;
    }
}

.icon {
    display: inline-flex;
    padding: 12px;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    justify-content: center;
    align-items: center;
    color: $text-dark-primary;
    background-color: $white-primary;

    .icon-svg {
        width: auto;
        height: auto;
        max-width: 23px;
        max-height: 23px;
    }

    &.icon-md {
        width: 72px;
        height: 72px;
    }

    &.icon-lg {
        width: 88px;
        height: 88px;

        .icon-svg {
            width: 13px;
            height: 13px;
        }
    }

    &.icon-outline {
        border: 1px solid rgba(0, 0, 0, 0.14);

        img {
            width: 36px;
            height: 34px;   
        }
    }
}

.bg-accent {
    background-color: $accent-brand;
    color: $white;
}

::selection {
    color: $white-primary;
    background-color: $accent-brand;
}
