///fonts///
$global-font: "Montserrat";
$global-line-height: 1.21;
$global-font-weight: 500;
$global-font-size: 16px;
 

///colors///
$accent-brand: #26CF6A;
$white-primary: #F1F1F1;
$white-secondary: #F5F5F5;
$text-dark-primary: #646B80;
$text-dark-secondary: #888D9B;
$link-color: #386EFF;
$black: #000000;
$white: #ffffff;