<section class="advantages">
    <div class="container">
        <h2 class="custom-title"><span>Чому</span> варто обрати нас</h2>
        <div class="advantages-row">
            <div class="advantage-item">
                <svg class="icon-svg">
                    <use href="#icon-advantages-1"></use>
                </svg>
                <h4 class="advantage-title">Сертифіковані професійні миючі засоби</h4>
                <p class="advantage-description">Ми використовуємо лише високоякісні, професійні, сертифіковані хімічні засоби, які забезпечують ефективне прибирання та безпечне використання.</p>
            </div>
            <div class="advantage-item">
                <svg class="icon-svg">
                    <use href="#icon-advantages-2"></use>
                </svg>
                <h4 class="advantage-title">Професійні та кваліфіковані працівники</h4>
                <p class="advantage-description">Наші співробітники проходять спеціалізоване навчання та мають глибокі знання про різні поверхні, щоб гарантувати, що ваше майно не буде пошкоджене під час прибирання.</p>
            </div>
            <div class="advantage-item">
                <svg class="icon-svg">
                    <use href="#icon-advantages-3"></use>
                </svg>
                <h4 class="advantage-title">Еко чистка</h4>
                <p class="advantage-description">Для клієнтів, які віддають перевагу екологічному підходу, ми пропонуємо прибирання із застосуванням сертифікованої еко-хімії, яка є безпечною для вашого здоров’я та довкілля.</p>
            </div>
            <div class="advantage-item">
                <svg class="icon-svg">
                    <use href="#icon-advantages-4"></use>
                </svg>
                <h4 class="advantage-title">Страхування та компенсація</h4>
                <p class="advantage-description">Ми забезпечені страховкою, тому, у випадку пошкодження вашого майна, ми відшкодуємо його вартість, що надає нашим клієнтам додатковий спокій та впевненість у нашій відповідальності.</p>
            </div>
        </div>
    </div>
</section>